In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
orders = pd.read_csv("Orders.csv")
order_details = pd.read_csv("OrderDetails.csv")
customers = pd.read_csv("Customers.csv")
products = pd.read_csv("Products.csv")

In [5]:
print(orders.head())

         Order ID  Order Date   Ship Date       Ship Mode Customer ID  \
0  CA-2017-152156   8/11/2017  11/11/2017    Second Class    CG-12520
1  CA-2017-138688   12/6/2017  16/06/2017    Second Class    DV-13045
2  US-2016-108966  11/10/2016  18/10/2016  Standard Class    SO-20335
3  CA-2015-115812    9/6/2015  14/06/2015  Standard Class    BH-11710
4  CA-2018-114412  15/04/2018  20/04/2018  Standard Class    AA-10480

         Country             City           State  Postal Code Region
0  United States        Henderson        Kentucky      42420.0  South
1  United States      Los Angeles      California      90036.0   West
2  United States  Fort Lauderdale         Florida      33311.0  South
3  United States      Los Angeles      California      90032.0   West
4  United States          Concord  North Carolina      28027.0  South

In [6]:
print(orders.isnull().sum())

Order ID       0
Order Date     0
Ship Date      0
Ship Mode      0
Customer ID    0
Country        0
City           0
State          0
Postal Code    6
Region         0
dtype: int64

In [5]:
print(orders.duplicated().sum())

0

In [6]:
orders = orders.drop_duplicates()

In [7]:
print(orders.dtypes)

Order ID        object
Order Date      object
Ship Date       object
Ship Mode       object
Customer ID     object
Country         object
City            object
State           object
Postal Code    float64
Region          object
dtype: object

In [21]:
orders['Order Date'] = pd.to_datetime(orders['Order Date'], dayfirst=True)
orders['Ship Date'] = pd.to_datetime(orders['Ship Date'], dayfirst=True)

In [10]:
print(orders.dtypes)

Order ID               object
Order Date     datetime64[ns]
Ship Date      datetime64[ns]
Ship Mode              object
Customer ID            object
Country                object
City                   object
State                  object
Postal Code           float64
Region                 object
dtype: object

In [11]:
print(orders.head())

         Order ID Order Date  Ship Date       Ship Mode Customer ID  \
0  CA-2017-152156 2017-11-08 2017-11-11    Second Class    CG-12520
1  CA-2017-138688 2017-06-12 2017-06-16    Second Class    DV-13045
2  US-2016-108966 2016-10-11 2016-10-18  Standard Class    SO-20335
3  CA-2015-115812 2015-06-09 2015-06-14  Standard Class    BH-11710
4  CA-2018-114412 2018-04-15 2018-04-20  Standard Class    AA-10480

         Country             City           State  Postal Code Region
0  United States        Henderson        Kentucky      42420.0  South
1  United States      Los Angeles      California      90036.0   West
2  United States  Fort Lauderdale         Florida      33311.0  South
3  United States      Los Angeles      California      90032.0   West
4  United States          Concord  North Carolina      28027.0  South

In [ ]:
orders.to_csv("Orders_clean.csv", index=False)

In [12]:
print(order_details.head())

         Order ID       Product ID     Sales
0  CA-2017-152156  FUR-BO-10001798  261.9600
1  CA-2017-152156  FUR-CH-10000454  731.9400
2  CA-2017-138688  OFF-LA-10000240   14.6200
3  US-2016-108966  FUR-TA-10000577  957.5775
4  US-2016-108966  OFF-ST-10000760   22.3680

In [13]:
print(order_details.isnull().sum())

Order ID      0
Product ID    0
Sales         0
dtype: int64

In [14]:
print(order_details.duplicated().sum())

1

In [15]:
order_details = order_details.drop_duplicates()

In [16]:
print(order_details.dtypes)

Order ID       object
Product ID     object
Sales         float64
dtype: object

In [ ]:
order_details.to_csv("Order_Details.csv", index=False)

In [17]:
print(customers.head())

  Customer ID    Customer Name    Segment
0    CG-12520      Claire Gute   Consumer
1    DV-13045  Darrin Van Huff  Corporate
2    SO-20335   Sean O'Donnell   Consumer
3    BH-11710  Brosina Hoffman   Consumer
4    AA-10480     Andrew Allen   Consumer

In [18]:
print(customers.isnull().sum())

Customer ID      0
Customer Name    0
Segment          0
dtype: int64

In [19]:
print( customers.duplicated().sum())

0

In [20]:
customers = customers.drop_duplicates()

In [21]:
print(customers.dtypes)

Customer ID      object
Customer Name    object
Segment          object
dtype: object

In [ ]:
customers.to_csv("Customers_clean.csv", index=False)

In [22]:
print(products.head())

        Product ID                                       Product Name  \
0  FUR-BO-10001798                  Bush Somerset Collection Bookcase
1  FUR-CH-10000454  Hon Deluxe Fabric Upholstered Stacking Chairs,...
2  OFF-LA-10000240  Self-Adhesive Address Labels for Typewriters b...
3  FUR-TA-10000577      Bretford CR4500 Series Slim Rectangular Table
4  OFF-ST-10000760                     Eldon Fold 'N Roll Cart System

          Category Sub-Category
0        Furniture    Bookcases
1        Furniture       Chairs
2  Office Supplies       Labels
3        Furniture       Tables
4  Office Supplies      Storage

In [23]:
print(products.isnull().sum())

Product ID      0
Product Name    0
Category        0
Sub-Category    0
dtype: int64

In [24]:
print(products.duplicated().sum())

0

In [25]:
products = products.drop_duplicates()

In [26]:
print(products.dtypes)

Product ID      object
Product Name    object
Category        object
Sub-Category    object
dtype: object

In [ ]:
products.to_csv("Products_cleanl.csv", index=False)

In [7]:
df_merged = pd.merge(order_details, products, on='Product ID')

In [8]:
df_merged = pd.merge(df_merged, orders, on='Order ID')

In [9]:
df = pd.merge(df_merged, customers, on='Customer ID')

In [10]:
#1 EXECUTIVE OVERVIEW (KPI Dashboard)
# 1. Total Sales
total_sales = df['Sales'].sum()
print(f"1. (Total Sales): {total_sales:,.2f} $")

1. (Total Sales): 2,261,536.78 $

In [12]:
# 2. Unique Orders

unique_orders = df['Order ID'].nunique() #
print(f"2. (Unique Orders): {unique_orders}")

2. (Unique Orders): 4922

In [13]:
# 3. Unique Customers

unique_customers = df['Customer ID'].nunique()
print(f"3. (Unique Customers): {unique_customers}")

3. (Unique Customers): 793

In [15]:
# 4. Average Order Value (AOV)
aov = total_sales / unique_orders
print(f"4.  (AOV): {aov:,.2f} $")

4.  (AOV): 459.48 $

In [16]:
# 5. Average Items per Order (UPO)

total_items_sold = len(df) 
upo = total_items_sold / unique_orders
print(f"5. (UPO): {upo:,.2f}")

5. (UPO): 1.99

In [23]:
df['Order Date'] = pd.to_datetime(df['Order Date'], dayfirst=True)

In [24]:
# 6. Sales Trend Over Time

print("\n6. (Sales Trend):")
df['YearMonth'] = df['Order Date'].dt.to_period('M')
monthly_sales = df.groupby('YearMonth')['Sales'].sum()
print(monthly_sales.tail(12)) 
print("\n" + "="*40 + "\n")

6. (Sales Trend):
YearMonth
2018-01     43476.4740
2018-02     19920.9974
2018-03     58863.4128
2018-04     35541.9101
2018-05     43825.9822
2018-06     48190.7277
2018-07     44825.1040
2018-08     62837.8480
2018-09     86152.8880
2018-10     77448.1312
2018-11    117938.1550
2018-12     83030.3888
Freq: M, Name: Sales, dtype: float64

========================================

In [25]:
# 2 CUSTOMER ANALYSIS

# 1 Top 10 Customers by Sales

top_10_customers_sales = df.groupby('Customer Name')['Sales'].sum().nlargest(10)
print(top_10_customers_sales)

Customer Name
Sean Miller           25043.050
Tamara Chand          19052.218
Raymond Buch          15117.339
Tom Ashbrook          14595.620
Adrian Barton         14473.571
Ken Lonsdale          14175.229
Sanjit Chand          14142.334
Hunter Lopez          12873.298
Sanjit Engle          12209.438
Christopher Conant    12129.072
Name: Sales, dtype: float64

In [27]:
# 2 Top 10 Customers by Order Count

top_10_customers_orders = df.groupby('Customer Name')['Order ID'].nunique().nlargest(10)
print(top_10_customers_orders)

Customer Name
Emily Phan             17
Chloris Kastensmidt    13
Joel Eaton             13
Patrick Gardner        13
Zuschuss Carroll       13
Anna Häberlin          12
Bart Pistole           12
Bill Donatelli         12
Chris Selesnick        12
Clay Ludtke            12
Name: Order ID, dtype: int64

In [29]:
# 3 Customer Acquisition Trend

first_orders = df.groupby('Customer ID')['Order Date'].min()

new_customers_trend = first_orders.dt.to_period('M').value_counts().sort_index()
print(new_customers_trend.tail(12))

Order Date
2017-08    4
2017-09    1
2017-10    1
2017-11    6
2017-12    2
2018-03    3
2018-04    1
2018-06    1
2018-07    2
2018-09    1
2018-10    2
2018-11    1
Freq: M, Name: count, dtype: int64

In [31]:
# 4 Distribution by Segment

segment_distribution = df.groupby('Segment')['Customer ID'].nunique().sort_values(ascending=False)
print(segment_distribution)

Segment
Consumer       409
Corporate      236
Home Office    148
Name: Customer ID, dtype: int64

In [32]:
# 3 LOCATION ANALYSIS

# 1. Top 10 Cities by Sales

top_10_cities = df.groupby('City')['Sales'].sum().nlargest(10)
print(top_10_cities)

City
New York City    252462.5470
Los Angeles      173420.1810
Seattle          116106.3220
San Francisco    109041.1200
Philadelphia     108841.7490
Houston           63956.1428
Chicago           47820.1330
San Diego         47521.0290
Jacksonville      44713.1830
Detroit           42446.9440
Name: Sales, dtype: float64

In [33]:
# 2. Bottom 10 Cities by Sales

bottom_10_cities = df.groupby('City')['Sales'].sum().nsmallest(10)
print(bottom_10_cities)

City
Abilene            1.392
Elyria             1.824
Jupiter            2.064
Pensacola          2.214
Ormond Beach       2.808
San Luis Obispo    3.620
Springdale         4.300
Layton             4.960
Keller             6.000
Missouri City      6.370
Name: Sales, dtype: float64

In [34]:
# 3. Sales by State

sales_by_state = df.groupby('State')['Sales'].sum().sort_values(ascending=False)
print(sales_by_state.head(10))

State
California      446306.4635
New York        306361.1470
Texas           168572.5322
Washington      135206.8500
Pennsylvania    116276.6500
Florida          88436.5320
Illinois         79236.5170
Michigan         76136.0740
Ohio             75130.3500
Virginia         70636.7200
Name: Sales, dtype: float64

In [35]:
# 4. Sales by Region

sales_by_region = df.groupby('Region')['Sales'].sum().sort_values(ascending=False)
print(sales_by_region)

Region
West       710219.6845
East       669518.7260
Central    492646.9132
South      389151.4590
Name: Sales, dtype: float64

In [36]:
# 4 PRODUCT ANALYSIS

# 1. Top 10 Products by Sales

top_10_products_sales = df.groupby('Product Name')['Sales'].sum().nlargest(10)
print(top_10_products_sales)

Product Name
Canon imageCLASS 2200 Advanced Copier                                          61599.824
Fellowes PB500 Electric Punch Plastic Comb Binding Machine with Manual Bind    27453.384
Cisco TelePresence System EX90 Videoconferencing Unit                          22638.480
HON 5400 Series Task Chairs for Big and Tall                                   21870.576
GBC DocuBind TL300 Electric Binding System                                     19823.479
GBC Ibimaster 500 Manual ProClick Binding System                               19024.500
Hewlett Packard LaserJet 3310 Copier                                           18839.686
HP Designjet T520 Inkjet Large Format Printer - 24" Color                      18374.895
GBC DocuBind P400 Electric Binding System                                      17965.068
High Speed Automatic Electric Letter Opener                                    17030.312
Name: Sales, dtype: float64

In [37]:
# 2. Bottom 10 Products by Sales

bottom_10_products_sales = df.groupby('Product Name')['Sales'].sum().nsmallest(10)
print(bottom_10_products_sales)

Product Name
Eureka Disposable Bags for Sanitaire Vibra Groomer I Upright Vac    1.624
Avery 5                                                             5.760
Xerox 20                                                            6.480
Grip Seal Envelopes                                                 7.072
Acme Serrated Blade Letter Opener                                   7.632
Avery Hi-Liter Pen Style Six-Color Fluorescent Set                  7.700
Xerox 1989                                                          7.968
4009 Highlighters                                                   8.040
Stockwell Gold Paper Clips                                          8.096
Acco Economy Flexible Poly Round Ring Binder                        8.352
Name: Sales, dtype: float64

In [38]:
# 3. Top Products by Popularity (Count)

top_10_products_count = df['Product Name'].value_counts().nlargest(10)
print(top_10_products_count)

Product Name
Staple envelope                                      47
Staples                                              46
Easy-staple paper                                    44
Avery Non-Stick Binders                              20
Xerox 1881                                           19
Staples in misc. colors                              18
Imation 16GB Mini TravelDrive USB 2.0 Flash Drive    18
Staple remover                                       18
Storex Dura Pro Binders                              17
KI Adjustable-Height Table                           17
Name: count, dtype: int64

In [39]:
# 4. Sales by Category

sales_by_category = df.groupby('Category')['Sales'].sum().sort_values(ascending=False)
print(sales_by_category)

Category
Technology         827455.8730
Furniture          728658.5757
Office Supplies    705422.3340
Name: Sales, dtype: float64

In [41]:
# 5 ORDER ANALYSIS

# 1. Busiest Month for Orders

busiest_months = df.groupby('YearMonth')['Order ID'].nunique().sort_values(ascending=False)
print(busiest_months.head(5))

YearMonth
2018-11    259
2018-12    223
2018-09    222
2017-09    186
2017-11    182
Freq: M, Name: Order ID, dtype: int64

In [42]:
# 2. Busiest Day of Week

df['Day of Week'] = df['Order Date'].dt.day_name()
busiest_days = df['Day of Week'].value_counts()
print(busiest_days)

Day of Week
Tuesday      1889
Saturday     1786
Sunday       1695
Monday       1593
Wednesday    1229
Friday       1067
Thursday      541
Name: count, dtype: int64

In [43]:
# 3. AOV Trend Over Time

monthly_analysis = df.groupby('YearMonth').agg(
    Monthly_Sales=('Sales', 'sum'),
    Unique_Orders=('Order ID', 'nunique')
)
monthly_analysis['AOV_Trend'] = monthly_analysis['Monthly_Sales'] / monthly_analysis['Unique_Orders']
print(monthly_analysis['AOV_Trend'].tail(12))

YearMonth
2018-01    648.902597
2018-02    383.096104
2018-03    503.106092
2018-04    309.060088
2018-05    377.810191
2018-06    373.571533
2018-07    415.047259
2018-08    576.494018
2018-09    388.076072
2018-10    537.834244
2018-11    455.359672
2018-12    372.333582
Freq: M, Name: AOV_Trend, dtype: float64

In [45]:
# 4. Units per Order (UPO) Trend Over Time

monthly_analysis_items = df.groupby('YearMonth').agg(
    Total_Items=('Order ID', 'count'), # بنعد كل السطور
    Unique_Orders=('Order ID', 'nunique')
)
monthly_analysis_items['UPO_Trend'] = monthly_analysis_items['Total_Items'] / monthly_analysis_items['Unique_Orders']
print(monthly_analysis_items['UPO_Trend'].tail(12))

YearMonth
2018-01    2.134328
2018-02    2.000000
2018-03    2.025641
2018-04    1.739130
2018-05    2.068966
2018-06    1.821705
2018-07    2.064815
2018-08    1.963303
2018-09    2.040541
2018-10    2.041667
2018-11    1.760618
2018-12    2.058296
Freq: M, Name: UPO_Trend, dtype: float64